@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
body {
    background-color: black;
}

.container {
    width: 640px;
    height: 264px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
    background-color: white;
}

h2 {
    margin-top:32px;
    margin-bottom: 0;
    text-align: center;
    padding-left: 22px;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    letter-spacing: 0.8px;
}

p {
    margin-top: 16px;
    margin-left: 18px;
    margin-bottom: 6px;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
}

input {
    width: 590px;
    height: 48px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    border-radius: 6px;
    border: 1px solid #DADADA;
    padding-left: 12px;
}

input::-webkit-input-placeholder {
    color: #DADADA;
}


button {
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 384px;
    height: 48px;
    margin: 18px 128px 46px 128px;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.8px;

}

.btn {
    text-decoration: none;
    color: white;
    cursor: pointer;
}